body {
  width: 288px;
}
header {
  background-color: rgb(3, 37, 65);
  display: flex;
  width: 288px;
}
.menuicon {
  height: 20px;
  width: 20px;
}
.logo {
  height: 50px;
  width: 50px;
  margin-left: 50px;
}

.contractIcon {
  height: 20px;
  width: 20px;
  margin-left: 40px;
}
.searchIcon {
  height: 20px;
  width: 20px;
  margin-left: 20px;
}
